<!-- News Div
#League Schedule Div
#Sidebar
 -->
<h1> <%=@team.name  %> </h1>
<h2>Recent Posts</h2>
<section id="first_section">
  <div class='blog'>

  <%= render partial: 'posts/recent' %>
  </div>
</section>
<h2>Recent Games</h2>
<section id="second_section">
  <div class='blog'>

    <%= render partial: 'games/schedule' %>
  </div>
</section>
<h2>Roster</h2>
<section id='third_section'>
  <div class='blog'>
  <h2> Players </h2>
    <%= render partial: 'teams/roster' %>
  </div>
</section>
