<h1>Editing League</h1>
<section style="text-align:center;">
  <%= render 'form' %>

  <button><%= link_to 'Show', @league %></button> |
  <button><%= link_to 'Back', leagues_path %></button>
</section>
