<h1>Home Page</h1>

<section id="first_section">
  <div class='blog'>
    <h3>Schedule</h3>
    <%= render partial: 'games/schedule' %>
  </div>
</section>

<section id="second_section">
  <div>
    <h2>News Posts</h2>
    <%= render partial: 'posts/recent' %>
  </div>
</section>
