<h1>Editing Player</h1>
<section style="text-align:center;">
  <%= render 'form' %>

  <button><%= link_to 'Show', @player %></button> |
  <button><%= link_to 'Back', players_path %></button>
</section>
