<% @posts.each do |post| %>
  <div class='post-container'>
    <% @team = Team.find(post.team_id) %>
    <b><a href="/teams/<%= @team.id %>"><%= post.title %></a></b><br>
    <%= post.content %><br><br>
  </div>
<% end %>
