/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.header {
  height: 100px;
  padding-top: -50px;
}


.header img {
  width: 100px;
  height: 100px;
  float: left;
}

.header h1 {
  position: relative;
  top: 40px;
  left:-50px;
  font-size: 5em;
  text-align: center;
}

nav {
  margin-top: 20px;
  text-align: center;
}

nav a {
  padding: 20px;
  text-decoration: underline;
}

body {
  width: 50%;
  margin: auto;
  background-color: lightblue;
}

#inside {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0;
}

#first_section {
  border: solid black 3px;
  height: 300px;
  margin-bottom: 50px;
  margin-top: 50px;
}

#second_section {
  border: solid black 3px;
  height: 300px;
}

.linebreak{
  height: 20px;
}

.left {
  display: inline-block;
  padding-right: 5em;
}

#game_section {
  border: solid black 3px;
  height: 300px;
  margin-bottom: 5em;
  margin-top: 5em;
  margin:auto;
  text-align: center;
}

section span {
  display: inline-block;
}

.right {
  display: inline-block;
  padding-left: 5em;
}

