// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$section-height: 300px;

.linebreak {
  height: 20px;
}

.left {
  display: inline-block;
  padding-right: 4em;
}

.right {
  display: inline-block;
  padding-left: 4em;
}

#game_section {
  border: solid #37474F 3px;
  height: $section-height;
  margin-bottom: 5em;
  margin-top: 5em;
  text-align: center;
}

#vs {
  display: inline-block;
}
