$header-height: 100px;

tr, td, th {
  border: 20px solid transparent;
}
button {
  background-color: black;
  border-radius: 6px;
}

#new {
  padding: 15px 60px;
}

#bootstrap-overrides {
  background-color: #37474F;
  width: 65%;
  margin: auto;
}

#containinside {
  background-color: white;
  padding: 50px;
}

.header {
  height: $header-height;
  padding-top: -50px;
}

.header img {
  width: 100px;
  height: $header-height;
  float: left;
}

.header h1 {
  color: #000;
  position: relative;
  top: 40px;
  left:-50px;
  font-size: 5em;
  text-align: center;
  text-shadow: 4px 4px 1px #FFFFFF,
               0px 0px 6px rgba(255,255,255,0.7),
               0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

nav {
  margin-top: 40px;
  padding: 5px;
}

.linebreak {
  height: 10px;
}
