// Place all the styles related to the Leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$section-border: solid #37474F 2px;
$section-height: 300px;
$section-padding: 0px 20px 10px 20px;

#first_section, #second_section, #third_section {
  border: $section-border;
  height: $section-height;
  margin: auto;
  overflow: auto;
  padding: $section-padding;
  text-align: center;
  position: relative;
  font-size: 1.4em;
}
