<section id="first_section">

  <h3> Proposing Team: <%=@proposing_team.teamcity  %> </h3>

  <%@trade.trade_players.each do |trade_player|  %>
    <%if trade_player.player.team == @proposing_team%>
      <div>
        <%= trade_player.player.full_name %>
      </div>
    <% end %>
  <% end %>


  <h3> Reviewing Team: <%=@accepting_team.teamcity  %> </h3>

  <%@trade.trade_players.each do |trade_player|  %>
    <%if trade_player.player.team == @accepting_team%>
      <div>
        <%= trade_player.player.full_name %>

      </div>
    <% end %>
  <% end %>
</section>
