.<p id="notice"><%= notice %></p>
<h1>Accept or Decline Trade</h1>

<section style="text-align:center;">
  <%= render 'details' %>

  <br>
  <% if team_admin_signed_in?  %>
    <% if current_team_admin.id == @accepting_team.team_admin_id %>
      <button><%= link_to 'Accept', trade_accept_path(@trade), method: :patch %></button>
      <button><%= link_to 'Decline', trade_path(@trade)%></button>
    <% end %>
  <% end %>
</section>
