<h1>All Trades</h1>

<section id="first_section">
  <table>
    <thead>
      <tr>
        <th colspan="3">Recent Trades</th>
      </tr>
    </thead>

    <tbody>
      <% @trades.each do |trade| %>
        <tr>
          <td><strong><%= trade.proposing_team.name %></strong><br>
            <%trade.trade_players.each do |trade_player|  %>
               <%if trade_player.player.team == trade.proposing_team%>
                  <%= trade_player.player.full_name %>,
              <% end %>
            <% end %>
          </td>
          <td><strong><%= trade.accepting_team.name %></strong><br>
             <%trade.trade_players.each do |trade_player|  %>
                 <%if trade_player.player.team == trade.proposing_team%>
                    <%= trade_player.player.full_name %>,
                <% end %>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<h2><a href="/trades/new">Create New Trade</a></h2>
