<!DOCTYPE html>
<html>
<head>
  <title>HockeyLeague</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='inside'>
  <section class="header">
    <img src="assets/05_NHL_Shield.svg.png" alt="logo" />
    <h1>NHL eague</h1>
  </section>
  <nav>
    <a>Home</a>
    <a>Teams</a>
    <a>Schedule</a>
    <a>Login</a>
  </nav>

<%= yield %>
</div>
</body>
</html>
